.homepage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    background-color: #f0f0f0; /* Optional background color */
  }
  

  /* Default layer (z = 0) for regular components */
.default-layer {
    z-index: 0;
  }
  
/* Background layer (z = -1) for background components */
.background-layer {
z-index: -1;
}
